<ion-content>
  <div class="wrap flex-c-center">
    <swiper-container [pagination]="true" autoplay="true">
      <swiper-slide>
        <img src="assets/images/slide1.png" alt="Chat Anytime, Connect Anywhere" />
        <h2>{{"Chat Anytime, Connect Anywhere!"|translate}}</h2>
        <p>{{"The fast, secure, and seamless messaging app! Stay connected with friends, colleagues, and family"|translate}}</p>
      </swiper-slide>
      <swiper-slide>
        <img src="assets/images/slide2.png" alt="Fast Messaging with Multimedia Support" />
        <h2>{{"Fast Messaging with Multimedia Support"|translate}}</h2>
        <p>{{"Send text messages, images, documents, and more. Enjoy lightning-fast speed with zero interruptions!"|translate}}</p>
      </swiper-slide>
      <swiper-slide>
        <img src="assets/images/slide3.png" alt="Your Privacy, Our Priority" />
        <h2>{{"Your Privacy, Our Priority"|translate}}</h2>
        <p>
          {{"We are committed to protecting your privacy. Your messages are encrypted, ensuring that only you can access them."|translate}}
        </p>
      </swiper-slide>
    </swiper-container>
    <div class="action">
      <ion-button (click)="goToPage('auth/register')" expand="block" color="tertiary"> {{'Register'|translate}} </ion-button>
      <ion-button (click)="goToPage('auth/login')" expand="block" class="login-btn"> {{'Login'|translate }} </ion-button>
      <ion-button (click)="goToPage('auth/reset-password')" expand="block" class="login-btn"> {{'Reset password'|translate }} </ion-button>
    </div>
  </div>
</ion-content>
