// Add styles for the conversation page
ion-content {
  padding: 16px;
}

p {
  font-size: 16px;
  cursor: pointer;
}
ion-col {
  padding: 2px;
}

ion-col ion-chip {
  border-radius: 10px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  ion-avatar {
    height: 50px;
    width: 50px;
  }
  &:hover {
    box-shadow: 1px 1px 2px 0px currentColor;
  }
}

.fixed-searchbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

.scrollable-content {
  height: calc(100vh - 300px); // Adjust this value as needed
  overflow-y: auto;
}
