<ion-content>
  <div class="wrap">
    <background style="opacity: 0.05"></background>
    <auth-toolbar title="Reset password"></auth-toolbar>
    <form [formGroup]="form" (submit)="submit()">
      <ion-list>
        <ion-item>
          <ion-input labelPlacement="floating" formControlName="password" type="password" placeholder="••••••">
            <div slot="label">
              {{'New password'|translate}} @if( isError('password','required') ) {
              <ion-text color="danger"> {{'is required'|translate}} </ion-text>
              } @else if (isError('password','minlength')) {
              <ion-text color="danger"> {{'must be at least 6 characters'|translate}} </ion-text>
              }
            </div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="floating" formControlName="confirmPassword" type="password" placeholder="••••••">
            @if ( isError('confirmPassword','passwordMismatch')) {
            <div slot="label">
              <ion-text color="danger"> {{'Confirm password does not match'|translate}} </ion-text>
            </div>
            }@else {
            <div slot="label">
              {{'Confirm password'|translate}} @if( isError('confirmPassword','required') ) {
              <ion-text color="danger"> {{'is required'|translate}} </ion-text> } @else if
              (isError('confirmPassword','minlength') ) {
              <ion-text color="danger"> {{'must be at least 6 characters'|translate}} </ion-text> }
            </div>
            }
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button [disabled]="form.invalid" type="submit" expand="block" color="tertiary">
        {{'Reset password'|translate}}
      </ion-button>
    </form>
  </div>
</ion-content>
