<ion-app>
  @if (isLoaded) { @if (account.currentUser?.id) {
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <div class="list-header" style="display: flex; flex-direction: column; justify-content: center">
              <ion-avatar>
                <img [alt]="account.currentUser?.displayName" [src]="account.currentUser?.avatar" />
              </ion-avatar>
              <h4 style="margin: 0">{{ account.currentUser?.displayName }}</h4>
            </div>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/connections']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="people-sharp"></ion-icon>
              <ion-label>Connections</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/conversations']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="chatbubbles-sharp"></ion-icon>
              <ion-label>Conversations</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-button class="logout-btn" (click)="logout()">Logout</ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"> </ion-router-outlet>
  </ion-split-pane>
  } @else {
  <ion-router-outlet id="main-content"></ion-router-outlet>
  @if (actionSheetButtons) {
  <div class="footer">
    <span> v.1.0.15 </span>
    <ion-icon class="act" id="open-action-sheet" [src]="currentLang == 'en-US' ? 'assets/icon/us.svg' : 'assets/icon/vn.svg'"> </ion-icon>
    <ion-action-sheet
      trigger="open-action-sheet"
      [buttons]="actionSheetButtons"
      (didDismiss)="changeLanguage($event.detail)"
      class="custom-action-sheet"
    >
    </ion-action-sheet>
  </div>
  } } } @else {
  <ion-router-outlet id="main-content" style="opacity: 0"></ion-router-outlet>
  <background style="opacity: 0.5"></background>
  }
</ion-app>
