/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

@import "./theme/variables.scss";

* {
  box-sizing: border-box;
  font-family: "Spectral", serif !important;
  user-select: none;
}

.flex-r-center {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c-center {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
}

ion-loading.custom-loading {
  .loading-wrapper.ion-overlay-wrapper {
    border-radius: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &.none-content {
    .loading-content {
      display: none;
    }
  }
}

ion-action-sheet.custom-action-sheet .action-sheet-group {
  button {
    & + button {
      border-top: 1px solid rgba(var(--ion-color-tertiary-rgb), 0.1);
    }
    &:disabled {
      opacity: 0.8;
      --button-color-disabled: var(--ion-color-tertiary);
      --button-background: rgba(var(--ion-color-tertiary-rgb), 0.1);
    }
  }
}

ion-action-sheet.select-action-sheet .action-sheet-group {
  button {
    border-bottom: 1px solid rgba(var(--ion-color-tertiary-rgb), 0.1);
    &.action-sheet-selected {
      opacity: 0.8;
      --button-color-selected: var(--ion-color-tertiary);
      --button-background: rgba(var(--ion-color-tertiary-rgb), 0.1);
      pointer-events: none;
    }
    span {
      justify-content: center;
    }
  }
}

ion-header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 2px -1px, rgba(0, 0, 0, 0.3) 0px 1px 2px -1px !important;
}

ion-item {
  --min-height: 0px;
}

ion-title {
  padding-inline: 20px;
}

ion-icon {
  &.act {
    padding: 4px;
    border: 1px solid #33333310;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

// scrollbar

// ion-content::part(scroll)::-webkit-scrollbar {
//   width: 6px;
// }

// ion-content::part(scroll)::-webkit-scrollbar-thumb {
//   border-radius: 0px;
//   background: #88888890;
//   // background: linear-gradient(#30353c, #2a2e34);
//   border: none;
// }

// ion-content::part(scroll)::-webkit-scrollbar-track {
//   background: #eee;
// }

// ion-content::part(scroll)::-webkit-scrollbar-thumb:hover {
//   background: rgb(136, 136, 136);
// }
ion-content,
ion-popover {
  &::part(scroll)::-webkit-scrollbar {
    width: 6px;
  }
  &::part(scroll)::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #88888890;
    // background: linear-gradient(#30353c, #2a2e34);
    border: none;
  }
  &::part(scroll)::-webkit-scrollbar-track {
    background: #eee;
  }
  &::part(scroll)::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
  }
  &::part(content)::-webkit-scrollbar {
    width: 6px;
  }
  &::part(content)::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #88888890;
    // background: linear-gradient(#30353c, #2a2e34);
    border: none;
  }
  &::part(content)::-webkit-scrollbar-track {
    background: #eee;
  }
  &::part(content)::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
  }
}

ion-textarea,
.scrollable {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #88888890;
    // background: linear-gradient(#30353c, #2a2e34);
    border: none;
  }
  &::-webkit-scrollbar-track {
    background: #eee;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
  }
}

.scroll-x-able {
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #88888890;
    // background: linear-gradient(#30353c, #2a2e34);
    border: none;
  }
  &::-webkit-scrollbar-track {
    background: #eee;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
  }
}

// ion-textarea::-webkit-scrollbar {
//   width: 6px;
// }

// ion-textarea::-webkit-scrollbar-thumb {
//   border-radius: 0px;
//   background: #88888890;
//   // background: linear-gradient(#30353c, #2a2e34);
//   border: none;
// }

// ion-textarea::-webkit-scrollbar-track {
//   background: #eee;
// }
// ion-textarea::-webkit-scrollbar-thumb:hover {
//   background: rgb(136, 136, 136);
// }

*[aria-hidden="true"] {
  display: none;
}
