ion-header {
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
ion-toolbar {
  --background: #fff;
  --min-height: 56px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  max-height: 56px;
  position: sticky;

  ion-item {
    ion-title {
      font-weight: 600;
      font-size: 18px;
      padding: 0;
      margin-left: 10px;
    }
  }
}
