<!-- <ion-toolbar>
  <ion-buttons slot="start">
    @if (back) {
    <ion-back-button icon="arrow-back-outline" [defaultHref]="defaultHref"></ion-back-button>
    }
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>{{ title | translate | titlecase }}</ion-title>
  @if (more) {
  <ion-buttons slot="end">
    <ion-button><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
  </ion-buttons>
  }
</ion-toolbar> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (back) {
      <ion-back-button icon="arrow-back-outline" defaultHref="conversations"></ion-back-button>
      }
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      @if (avatar) {

      <ion-avatar>
        <img [src]="avatar" />
      </ion-avatar>
      }
      <ion-title>{{ title | translate | titlecase }}</ion-title>
    </ion-item>
    @if (more) {
    <ion-buttons slot="end">
      <ion-button><ion-icon name="ellipsis-vertical"></ion-icon></ion-button> </ion-buttons
    >}
  </ion-toolbar>
</ion-header>
